
<nav style="text-align:center; font-weight: bold;padding-top: 2em; padding-bottom: 1em;">
  <a href="aperitifs.html">Aperitifs</a> - 
  <a href="boissons.html">Boissons</a> - 
  <a href="confitures.html">Confitures</a> - 
  <a href="cremes.html">Crèmes</a> - 
  <a href="desserts.html">Desserts</a> - 
  <a href="digestifs.html">Digestifs</a> - 
  <a href="entrees.html">Entrées</a> - 
  <a href="gateaux.html">Gâteaux</a> -
  <a href="glaces.html">Glaces</a> -
  <a href="pates.html">Pâtes</a> - 
  <a href="patisseries.html">Patisseries</a> - 
  <a href="plats.html">Plats</a> - 
  <a href="poissons.html">Poissons</a> - 
  <a href="potages.html">Potages</a> - 
  <a href="sauces.html">Sauces</a> - 
  <a href="viandes.html">Viandes</a>
</nav>
