<!doctype html>
<html>
  <head>
    {% include html_header.html %}
    <style type="text/css">
        .ingredient {
            font-style: italic;
        }
        .cuisson {
            font-style: italic;
        }
        .titre {
            font-weight: bold;
        }
        .indentation {
            padding-left: 15px;
        }
        .indentation2 {
            padding-left: 30px;
        }
    </style>
    </head>
    <body>
        {% include navigation.html %}<br>
        <div class="colums small-10 small-offset-2">
            <div class="titre">
                <h3>{{ page.title }}</h3>
            </div>
            {% for qui in page.qui %}            
                <div class="indentation2">
                    <code>[{{ qui }}]</code>
                </div>
            {% endfor %}
            {% for personne in page.personnes %}            
                <div class="indentation2">
                    ({{ personne }})<br>
                </div>
            {% endfor %}           
            <div>&nbsp;</div>
            <span class="ingredient">Ingrédients : </span>
            {% for ingredient in page.ingredients %}            
                <div class="indentation">
                    - {{ ingredient }}
                </div>
            {% endfor %}
            <div>&nbsp;</div>
            <div>
                {{ content }}
            </div>
            <span class="cuisson">Cuisson : </span>
            {% for cuisson in page.cuisson %} 
                <div class="indentation">
                    - {{ cuisson }}
                </div>
            {% endfor %}
        </div>
    </body>
</html>
